* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --border: #3498db;
    --black: black;
    --white: white;
    --ff: Poppins;
}

::-webkit-scrollbar {
    background: rgb(0, 0, 128);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gold;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 128);
}

body {
    scrollbar-gutter: force;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
}

img,
svg,
video {
    pointer-events: none;
}

ul {
    list-style: none;
}

button {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    font-family: var(--ff);
}

.close {
    padding: 10px;
    background: rgb(255, 240, 200);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: var(--black);
}

dialog {
    border-radius: 20px;
    margin: auto;
    background: none;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 9999;
    width: max-content;
    height: max-content;
    overflow: hidden;
    box-shadow: 0 0 10px var(--black);
    opacity: 1;
    transition: all .5s ease-in-out;
    transition-behavior: allow-discrete;
}

dialog::backdrop {
    background: none;
    backdrop-filter: blur(10px);
}

/* The style when closed */
@starting-style {
    dialog {
        opacity: 0;
    }
}

/* The style when closed */
dialog:not([open]) {
    opacity: 0;
}

/* Animations */
@keyframes spin1 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(180deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* loader */
.Load {
    height: 100dvh;
    width: 100dvw;
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: relative;
}

.quater {
    height: 1.5cm;
    width: 1.5cm;
    background-color: skyblue;
    float: left;
    position: relative;
    bottom: 1.25cm;
}

.i {
    border-top-left-radius: 100%;
    animation: spin1 2s ease-in-out infinite;
    transform-origin: 1.5cm 1.5cm;
}

.ii {
    border-top-right-radius: 100%;
    animation: spin2 2s ease-in-out infinite;
    transform-origin: 0 1.5cm;
}

/* side bar */
aside {
    direction: ltr;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    height: 100dvh;
    height: 100vh;
    width: 100dvw;
    width: 100vw;
    transition: all 1s ease;
}

aside[aria-open="true"] {
    right: 0;
}

aside[aria-open="false"] {
    right: 101%;
}

.asideContent {
    background: var(--black);
    border-radius: 0 20px 20px 0;
    width: max-content;
    height: 100%;
    width: max-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.AsideHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    color: var(--white)
}

.AsideContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    margin-top: 20px;
}

.AsideContent>ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.AsideContent li {
    width: 100%;
}

.follows,
.Projects {
    padding: 10px;
    border-radius: 10px;
    background: var(--white);
    color: var(--black);
    width: inherit;
    font-family: var(--ff);
    font-weight: 600;
    font-size: 20px;
}

/* Header */
.BodyHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--border);
}

.BodyHeader figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.BodyHeader figure img {
    width: 80px;
    border-radius: 30%;
}

.BodyHeader figure figcaption {
    font-size: 20px;
}

.BodyHeader nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Visible,
.Visible ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Visible ul li button {
    font-size: 20px;
    font-weight: 600;
}

.NonVisible {
    display: none;
}

/* main */
main {
    height: calc(100dvh - 102px);
    height: calc(100vh - 102px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.WeightForm {
    border-radius: 20px;
    border: 2px solid Gold;
    background: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.weight,
.planet {
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weight input,
.planet input {
    border: 2px solid Gold;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--ff);
}

.weight label,
.planet label {
    width: 100px;
    font-size: 25px;
}

.result {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.submit {
    width: 100%;
}

.submit>input {
    background: none;
    width: 100%;
    border-top: 2px solid Gold;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--ff);
}

/* dialogs */
.Follows {
    width: 80dvw;
}

.followHeader,
.errorHeader,
.AlertHeader {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    gap: 15px;
    height: max-content;
}

.followsitems,
.errorItems,
.AlertItems {
    padding: 20px;
    background: var(--white);
    position: relative;
    width: 100%;
    height: 100%;
}

.socials,
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    gap: 20px;
}

.social-item {
    transition: 0.4s;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--black);
    border-radius: 15px 0;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px var(--black);
        border-color: gold;
    }
}

.social-item a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.project {
    width: 90dvw;
    scrollbar-gutter: force;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects>div {
    width: 100%;
    border: 2px solid var(--black);
    border-radius: 20px 0;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    height: 120px;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px var(--black);
        border-color: gold;
    }
}


.msg,
.Msg {
    text-align: center;
}

@media screen and (max-width:900px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:580px) {

    .socials {
        grid-template-columns: repeat(1, 1fr);
    }

    .Visible {
        display: none;
    }

    .NonVisible {
        display: flex;
    }

    .asideContent {
        width: 70%
    }
}

@media screen and (max-width:520px) {
    .Follows {
        width: 90dvw;
    }

    .weight,
    .planet {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .planet label,
    .weight label,
    .weight input,
    .planet input {
        font-size: 20px;
    }

    .weight {
        padding-top: 10px;
    }

    .weight input,
    .planet input {
        padding: 10px;
    }

    .WeightWrapper {
        width: 90%;
    }

    .WeightForm,
    .weight input,
    .planet input {
        width: 100%;
    }
}